
<div class="container">
      <div id="image" class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://res.cloudinary.com/numama/image/upload/v1604688711/Birds%20Booking/live_ruh9vp.jpg);">
          <h1>Birds Booking <strong>Agenciamento</strong> to <strong>creative people</strong>!</h1>
          <p>Change your life and learn to code at one of our campuses around the world.</p>
          <a class="btn btn-flat" href="#">Contact Us</a>
    </div>
      <%= render 'shared/search' %>
 </div>

<div class="container">
  <div class="cards">
    <%  @bands.shuffle.first(6).each do |band| %>
       <%= link_to band do %>
        <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path band.photo.key, :effect=>"art:zorro", crop: :fill %>')">
            <%= band.name %>
        </div>
    <% end %>
  <% end %>
  </div>
</div>


