<div class="container">
  <div class="row">
    <%  @bands.each do |band| %>
          <% band.offers.each do |offer| %>
        <div class="col-sm-12 col-md-6">
          <div class="card-offer">
            <img src='<%= cl_image_path band.photo.key, :effect=>"art:zorro", crop: :fill %>' />
              <div class="card-offer-infos">
                <h2> <%= offer.fee%></h2>
                <p> <%= band.name  %> <strong>relevant info</strong> only.</p>
              </div>
          </div>
        </div>
        <% end %>
     <%end%>

    <div class="col-sm-12 col-md-6">
      <div class="card-offer">
        <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
          <div class="card-offer-infos">
            <h2>Product name</h2>
            <p>Product description with <strong>relevant info</strong> only.</p>
          </div>
      </div>
    </div>
  </div>
</div>
