.main-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 480px 60px 1fr 1fr 1fr;
  position: relative;
}

.flex-container {
  display: flex;
  flex-flow: row wrap;
  width: 80%;
  margin: 0px auto;
  justify-content: flex-start;

}

.release{
  padding-top: 20px;
  grid-row: 3 / span 2;
  grid-column: 2 / span 2;
  border-top: 1px solid rgba(0,0,0,0.1);
}

.release p {
  margin-top: none;
  border-top: 1px solid rgba(0,0,0,0.1);
}

.btn-site {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  background: gray;
  transition: background 0.3s ease;
}

.btn-site:hover {
  background: green;
  color: white;
}

.youtubevideo{
  grid-row: 1/ span 2;
  grid-column: 2 / span 2;
  height: 100vh;
}

.links {
  text-align: left;
  grid-row: 2/ span 1;
  grid-column: 2 / span 1;
}

.links ul {
  list-style: none;
  text-decoration: none;
  padding: 0px;
}

.links li {
  padding: 10px 16px;

}

.links a {
  font-size: 32px;
  text-decoration: none;
  color: gray;
}

 a:hover {
  color: green;
}

.spotify_player {
  grid-row: 1/ span 1;
  grid-column: 1 / span 1;
  padding-right: 30px;
}

.dates {
  padding-top: 20px;
  grid-row: 2/ span 2;
  grid-column: 1 / span 1;
  padding-right: 30px;
}

h1 {
  color: green;
}


.material {
  grid-row: 5 / span 2;
  grid-column: 2 / span 2;
  padding-top: 100px;
  border-top: 1px solid rgba(0,0,0,0.1);
}


[class^=youtube] {
width: 100%;
max-width: 280px;
}

.youtube-one{
  padding-top: 100px;
  grid-row: 4/ span 1;
  grid-column: 1 / span 1;
  text-align: left;
  background-color: gray;

}

.youtube-two{
  padding-top: 100px;
  grid-row: 4/ span 1;
  grid-column: 2 / span 1;
  text-align: center;
  background-color: gray;

}

.youtube-three{
  padding-top: 100px;
  grid-row: 4/ span 1;
  grid-column: 3 / span 1;
  text-align: right;
  background-color: gray;


}


.site {
  text-align: right;
  grid-row: 2/ span 1;
  grid-column: 3 / span 1;
}

