.main-container {
  display: flex;
  margin-top: 30px;
}

.release{
  flex-grow: 1;
  margin-left: 30px;
  border: 1px solid rgba(0,0,0,0.1);
}

.youtubevideo{
  flex: 0 0 450px;
}

.links {
  box-shadow: 5px 5px 4px #888888;
  flex: 0 0 200px;
  height: 100vh;
}

.links ul {
  list-style: none;
  padding: 0px;
}

.links li {
  padding: 10px 25px;
}

.links i {
  font-size: 25px;
}

